body{
	font-family: sans-serif;
	font-size: 1rem;
	margin:0;
	padding:0;
}
#body{
	margin: 0;
	width:100%;
	height: 50px;
	background-color: #333;
	line-height:50px;
}
#title{
	color:#fff;
	font-size: 1.5rem;
	float:left;
	margin-left: 1%;
}
#title a{
	text-decoration: none;
	color:#fff;
}
#title a:hover{
	color:#ccc;
}
#status{
	width: 100px;
	height: 50px;
	float:right;
	margin-right: 10px;
	color:#fff;
}
#startTimer, #stopTimer{
	float:right;
	display:block;
	height:25px;
	width: 25px;
	color:#fff;
	text-decoration:none;
	border-radius:50%;
	text-align:center;
	margin-top:12px;
	border:1px solid #333;
}
#startTimer:hover, #stopTimer:hover{
	border: 1px solid #ccc;
}
#startTimer{
	background-color:blue;
	margin-right:50px;
}
#stopTimer{
	background-color: red;
	margin-right: 5px;
}
#txtHint{
	display: block;
	border-top: 3px solid #6b2aff;
}
.timeZone{
	float: left;
	width: 14.285714285714285714285714285714%;
	text-align: center;
	padding: 5px 0px 5px 0px;
}
.timeZone:hover{
	background-color:#333;
	color:#fff;
}
.sCanvas{
    display: block;
	width: 100%;
	height: 100%;
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    
}
.sCanvas:hover{
	
}