@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
body{
	font-family: sans-serif;
	font-size: 0.9rem;
	margin:0;
	padding:0;
}
#body{
	margin: 0;
	width:100%;
	height: 50px;
	background-color: #333;
	line-height:50px;
}
#title{
	color:#fff;
	font-size:2rem;
	float:left;
	margin-left: 1%;
	font-family: 'Dancing Script', cursive;
}
#title a{
	text-decoration: none;
	color:#fff;
}
#title a:hover{
	color:#ccc;
}
#status{
	width: 80px;
	height: 50px;
	float:right;
	margin-right: 10px;
	color:#fff;
	line-height:55px;
}
#StartStopTimer{
	float:right;
	display:block;
	height:30px;
	width: 30px;
	color:#fff;
	text-decoration:none;
	border-radius:50%;
	text-align:center;
	margin-top:10px;
	border: 1px solid #fff;
	line-height:30px;
	color:#fff;
}
#StartStopTimer:hover{
	border:1px solid #000;
	color:#000;
}
#StartStopTimer{
	background-color:#6b2aff;
	margin-right:25px;
}
#txtHint{
	display: block;
	width:100%;
	margin:0;
	padding:0;
	border-top: 3px solid #6b2aff;
}
.timeZone:hover{
	background-color:#333;
	color:#fff;
}
.sCanvas{
	display: block;
	width: 100%;
	height: 100%;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;

}

/*mediaqueries*/
@media screen and (min-width: 1900px){
	.timeZone{
		float: left;
		width: 14.06857142857142857142857142857%;
		text-align: center;
		padding-top:5px;
		padding-left: 0;
		padding-right:0;
		border:1px solid #000;
		margin:1px;
	}
}
@media screen and (max-width:1900px) and (min-width:1600px){
	.timeZone{
		float: left;
		width: 14.01857142857142857142857142857%;
		text-align: center;
		padding-top:5px;
		padding-left: 0;
		padding-right:0;
		border:1px solid #000;
		margin:1px;
	}
}
@media screen and (max-width:1600px) and (min-width:1300px){
	.timeZone{
		float: left;
		width: 16.33666666666666666666666666667%;
		text-align: center;
		padding-top:5px;
		padding-left: 0;
		padding-right:0;
		border:1px solid #000;
		margin:1px;
	}
}
@media screen and (max-width:1300px) and (min-width:1000px){
	.timeZone{
		float: left;
		width: 19.59%;
		text-align: center;
		padding-top:5px;
		padding-left: 0;
		padding-right:0;
		border:1px solid #000;
		margin:1px;
	}
}
@media screen and (max-width: 1000px) and (min-width:600px){
	.timeZone{
		float: left;
		width: 24.3%;
		text-align: center;
		padding-top:5px;
		padding-left: 0;
		padding-right:0;
		border:1px solid #000;
		margin:1px;
	}
}
@media screen and (max-width:600px) and (min-width:300px){
	.timeZone{
		float: left;
		width: 100%;
		text-align: center;
		padding-top:5px;
		padding-left: 0;
		padding-right:0;
		border:1px solid #000;
		margin:1px;
	}
}
@media screen and (max-width:300px) and (min-width:0px){
	.timeZone{
		float: left;
		width: 100%;
		text-align: center;
		padding-top:5px;
		padding-left: 0;
		padding-right:0;
		border:1px solid #000;
		margin:1px;
	}
}